extends ../layout
block content
	main
		section
			if data
				if data.message
					p #{data.message}
				else
					h1 #{data.evals.title}
					form.ui.form(method="POST",action="/respuesta/create",name="evaluacion")
						each item, index in data.evals.body
							.inline.fields
								p #{item.titulo}
								- var respuestas = item.respuestas.split(',')
								each respuesta, index2 in respuestas
									.field
										.ui.radio.checkbox
											if index2 === 0
												input(type="radio",name="#{item.titulo}",value="#{respuesta}" ,checked) 
												label #{respuesta}
											else
												input(type="radio",name="#{item.titulo}",value="#{respuesta}")
												label #{respuesta}
						button.ui.button.green(type="submit") Enviar
			else
				p no se porque estas viendo esto :s
